<form>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="30px" fxLayoutAlign="center">  
    <div fxFlex="50%">  
      <mat-form-field class="example-full-width">
      <input type="text" placeholder="Departure" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div fxFlex="50%">  
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Destination" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  
  <div>
    <mat-tab-group mat-stretch-tabs class="bg-white">
      <mat-tab label="AVAILABLE">
        <app-sr-available-services></app-sr-available-services>

      </mat-tab>
      <mat-tab label="SELECTED SERVICES">
         <app-sr-selected-services></app-sr-selected-services>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>
