@import '../sass/cartus-palette.scss';
.page{
    height: 100%;
    mat-sidenav-container{
        height: 100%;
        overflow: hidden;
        mat-sidenav-content{
            height: 100%;
            overflow: hidden;
            mat-toolbar{
                a{
                    text-decoration: none;
                    color:map-get($cartus-palette, 'cartus_nav_tile');
                }
                a:hover, a:active{
                    color: map-get($cartus-palette, 'cartus_light_gray');
                }
                .navigation-items{
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }
                @media(max-width: 959px){
                    border-radius: 0px;
                }
            }
            main {
                padding: 10px;
                margin-top:78px;
            }
        }
        mat-sidenav {
            height: 100%;
            overflow: hidden;
            width: 250px;
        }
    }
    .pos-fixed{
        position:fixed;
        z-index:1000;
        border-radius: 0;
    }
}
/*.container {
    padding: 15px;
}

.title-img {
    width: 300px;
}

.card {
    width: 100%;
}

.mat-card {
    background-color: map-get($cartus-palette, 'cartus_light_blue');
}

.card-header-image {
    background-image: url('../assets/icons/icon-72x72.png');
    background-size: cover;
}
*/